{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block titulo %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link rel="stylesheet" href="{% static '/css/mystyles.css' %}">

        {% block style %}
        {% endblock %}

    </head>
    <body class="noto-sans">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
                <div class="container">
                    <a class="navbar-brand d-flex align-items-center" href="/">
                        <img src="/media/img/icons/knowledge-graph.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top me-2">
                        <span>SABER</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Alternar navegação">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                <li class="nav-item d-flex align-items-center me-2">
                                    <i class="fas fa-heart text-danger me-1"></i>
                                    <p id="quantidade-vidas" class="mb-0">{{ user.perfil.vida }}</p>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/perfil"><i class="fas fa-user"></i> Perfil</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/playlists"><i class="fas fa-book"></i> Minhas Playlists</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Sair</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="/auth/login"><i class="fas fa-sign-in-alt"></i> Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/auth/cadastro"><i class="fas fa-user-plus"></i> Cadastro</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main>
            {% block conteudo %}
            {% endblock %}
        </main>
        <!--
        <footer class="text-white text-center p-3 mt-5">
            <p>&copy; Portal Biblioteca. Todos os direitos reservados.</p>
        </footer>
        -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>