{% extends 'base.html' %}

{% block titulo %}Minhas Playlists{% endblock %}

{% block conteudo %}
<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Minhas Playlists</h1>
        <a href="{% url 'cadastrar_playlist' %}" class="btn btn-primary mb-3">Adicionar Nova Playlist</a>
    </div>
    <table class="table table-striped table-hover shadow-sm">
        <thead>
            <tr>
                <th class="px-3 py-2">Nome</th>
                <th class="px-3 py-2">Descrição</th>
                <th class="px-3 py-2">Nível de Dificuldade</th>
                <th class="px-3 py-2">Categoria</th>
                <th class="px-3 py-2">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
            <tr onclick="window.location.href='{% url 'detalhes_playlist' playlist.id %}'" style="cursor: pointer;">
                <td>{{ playlist.nome }}</td>
                <td>{{ playlist.descricao }}</td>
                <td>{{ playlist.get_nivel_dificuldade_display }}</td>
                <td>{{ playlist.categoria }}</td>
                <td>
                    <div class="d-flex">
                        <a href="{% url 'editar_playlist' playlist.id %}" class="btn btn-sm btn-warning me-2">Editar</a>
                        <a href="{% url 'excluir_playlist' playlist.id %}" class="btn btn-sm btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhuma playlist encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}