{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '/css/perfil.css' %}">
{% endblock %}

{% block titulo %}Meu Perfil{% endblock %}

{% block conteudo %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h4 class="mb-0">{{ perfil.usuario.username }}</h4>
                </div>
                <div class="card-body">
                    <div class="ratio ratio-4x3">
                        <img src="{{ perfil.foto_perfil.url }}" class="img-fluid rounded img-perfil" alt="{{ perfil.usuario.username }}">
                    </div>
                    <div class="list-group list-group-flush mt-1">
                        <div class="row g-3 align-items-center">
                            <div class="col-6">
                                <div class="p-2 text-center">
                                    <span class="badge bg-success bg-opacity-25 text-success fs-6">
                                        <i class="fas fa-star me-1"></i>{{ perfil.xp }} XP
                                    </span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-2 text-center position-relative">
                                    <div class="text-danger">
                                        <span class="fw-bold">
                                            <i class="fas fa-heart me-1"></i>Vidas: {{ perfil.vida }}
                                        </span>
                                        {% if perfil.vida < perfil.vida_maxima %}
                                            <div class="mt-1">
                                                <a href="{% url 'comprar_vida' %}" class="btn btn-sm btn-outline-danger btn-xs">
                                                    <i class="fas fa-plus small"></i> Recarregar
                                                </a>
                                            </div>
                                            <small >
                                                Recarga automática {{ perfil.ultima_recarga_vida|timesince }} atrás
                                            </small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="p-2 text-center">
                                    <div class="stat-value fw-bold text-success mb-1">{{ perfil.cursos_concluidos }}
                                        <i class="fas fa-graduation-cap"></i>
                                    </div>
                                    <div class="small">Cursos Completos</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-2 text-center">
                                    <div class="fw-bold text-info mb-1">{{ perfil.perguntas_respondidas }}
                                        <i class="fas fa-check-circle"></i>
                                    </div>
                                    <div class="small">Respostas Corretas</div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-6">
                                <div class="p-2 text-center">
                                    <div class="fw-bold text-sucess mb-1 text-success">{{ perfil.cursos_criados}}
                                        <i class="fas fa-book"></i>
                                    </div>
                                    <div class="small">Cursos Criados</div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="p-2 text-center">
                                    <div class="fw-bold text-sucess mb-1 text-info">{{ perfil.perguntas_criadas}}
                                        <i class="fas fa-question-circle"></i>
                                    </div>
                                    <div class="small">Perguntas Criadas</div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group-item">
                            <div class="d-flex justify-content-around align-items-center">
                                <strong>Reputação perguntas:</strong>
                                <div class="reputacao-indicador">
                                    <div class="circulo-progresso" style="--progresso: {{ reputacao }}%;"></div>
                                    <span class="reputacao-valor">{{ reputacao }}%</span>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0"><i class="fas fa-trophy me-2"></i>Conquistas ({{ conquistas.count }})</h4>
                </div>
                <div class="card-body scroll-conquistas">
                    {% if conquistas %}
                        <div class="row">
                            {% for conquista in conquistas %}
                                <div class="col-6 col-md-4 col-lg-3">
                                    <div class="position-relative p-3 text-center">
                                        <img src="{{ conquista.tipo.imagem.url }}" 
                                             class="img-fluid rounded-3 mb-2" 
                                             alt="{{ conquista.tipo.nome }}">
                                        <h6 class="mb-1">{{ conquista.tipo.nome }}</h6>
                                        <small class="text-muted d-block mb-2">{{ conquista.tipo.descricao }}</small>
                                        <div class="d-flex justify-content-center small">
                                            <span class="badge bg-success me-2">
                                                +{{ conquista.tipo.xp }} XP
                                            </span>
                                            <span class="text-muted">
                                                {{ conquista.data_conquista|date:"d M Y" }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                        </div>
                    {% else %}
                        <p class="text-center">Você ainda não possui conquistas.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
