{% extends 'base.html' %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static '/css/principal.css' %}">
{% endblock %}

{% block titulo %}Principal{% endblock %}

{% block conteudo %}

<div class="explicacao text-white text-center">
    <div class="container">
        <h1 class="display-4 fw-bold mb-3">Explore os cursos</h1>
        <p class="lead mb-0">Aprenda com conteúdos compartilhados por outras pessoas</p>
    </div>
</div>
<div class="container-fluid mt-2">
    {% if playlists %}
        <div class="row row-cols-md-4 g-3">
            {% for playlist in playlists %}
            <div class="col">
                <div class="card card-hover shadow-sm" onclick="window.location.href='{% url 'assistir_playlist' id=playlist.id index_video=0%}'">
                    {% with playlist.playlistvideo_set.all|first as pv %}
                        <img src="{{ pv.video.thumbnail }}" class="thumbnail-video" alt="{{ pv.video.titulo }}">
                    {% endwith %}
                    <div class="card-header bg-primary text-white">
                        <h5 class="card-title mb-1">{{ playlist.nome }}</h5>
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text mb-1">{{ playlist.descricao}}</p>
                        <div class="mb-0">
                            <span class="badge bg-{{ playlist.nivel_dificuldade|lower }}">
                                {{ playlist.get_nivel_dificuldade_display }}
                            </span>
                            <span class="badge bg-secondary">{{ playlist.categoria }}</span>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p class="mb-0 text-muted small">Autor: {{ playlist.autor.username }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="text-center">Nenhuma playlist cadastrada ainda.</p>
    {% endif %}
</div>
{% endblock %}