@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.noto-sans {
    font-family: "Noto Sans", "sans-serif";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html, body {
    background-color: whitesmoke;
}

.hover-effect:hover {
    transform: scale(1.03);
    transition: transform 0.3s;
}

.bg-primary{
    background-color: #7b5dcd!important;
}

.btn-primary{
    background-color: #7b5dcd!important;
}

.thumbnail-video {
    width: 160px;
    height: 90px;
    object-fit: cover;
}

.badge.bg-basico { background-color: #d1fae5; color: #059669; }
.badge.bg-intermediario { background-color: #fef3c7; color: #d97706; }
.badge.bg-avancado { background-color: #fee2e2; color: #dc2626; }
