.thumbnail-video {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-hover {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}
.card-hover:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.explicacao {
    background: linear-gradient(180deg, #7b5dcd 0%, #397de9 100%);
    padding: 0rem 0.5rem 1rem 0.5rem;
    margin-bottom: 1em;
}